[Unit]
Description=Network Performance Testing Server
After=network.target

[Service]
User=nuttcp
ExecStart=/usr/sbin/nuttcp -S
StandardInput=socket

[Install]
WantedBy=multi-user.target

